<div class="container-dashboard" >

  <div class="range">
    <div class="row">
        <!-- <p class="add"> My Instruments to rent <%#= link_to new_instrument_path do %> -->
          <!-- <i class="fas fa-plus" style="margin-left:30vw;"></i> -->
        <!-- <%# end %></p> -->
        <p class="add"> My Instruments to rent
          <i class="fas fa-plus" style="margin-left:30vw;" data-toggle="modal" data-target="#exampleModal"></i>
        </p>
      <% @instruments.each do |instrument|  %>
        <div class="card_dashboard" style="background-image: url('<%= cl_image_path instrument.photo if instrument.photo.present? %>');">
          <%= link_to instrument_path(instrument.id), method: :delete, :class => 'delete-link' do %>
           <i class='fas fa-trash-alt'></i>
          <% end %>
          <%= link_to edit_instrument_path(instrument.id), :class => 'edit-link' do %>
           <i class="fas fa-pencil-alt"></i>
          <% end %>
          <div class="card-description">
            <h2><%= instrument.title %></h2>
            <p><%= instrument.marque %></p>
          </div>
          <%= link_to '', instrument_path(instrument.id), class: "card-link" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="range">
    <div class="row">
      <p class="add"> My bookings </p>
      <% @locations.each do |location| %>
        <div class="card_dashboard " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= location.instrument.photo %>);">
            <div class="card-description">
              <h2><%= location.instrument.title %></h2>
              <p><%= location.instrument.marque %></p>
            </div>
            <h2 id="booked"> BOOKED </br> from <%= location.start_date %> to </br> <%= location.end_date %></h2>
              <%= link_to '', instrument_location_path(location.instrument, location), class: "card-link" %>
        </div>
      <%end %>
    </div>
  </div>


    <div class="range">
      <p class="add"> History </p>
    </div>

</div>

<%= render "instruments/instrument_form"  %>
