
<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= simple_form_for @instrument do |f| %>
        <%= f.input :title %>
        <%= f.input :marque %>
        <%= f.input :description %>
        <%= f.button :submit %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
      <% end %>


    <%= cl_image_tag @instrument.photo, height: 300, width: 400, crop: :fill %>
    </div>
  </div>
</div>
