
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    <h2> Add an instrument</h1>
      <%= simple_form_for @instrument do |f| %>


        <%= f.input :title, label: false, placeholder: 'Title' %>
        <%= f.input :marque, include_blank: false, collection: Instrument::BRANDS, label: false %>

        <div class="button-icons">
          <h4>Category:</h4>
          <% Instrument::CATEGORIES.each do |category| %>
            <div>
              <%= image_tag "#{category}.png", height: 30, data: {name: category} %>
            </div>
          <% end %>
        </div>

        <%= f.input :category, :as => :hidden, label: false %>

        <hr>

        <%= text_field_tag :query,
         params[:query],
         class:"form-control",
         id: "flat_address",
          placeholder: "address" %>
          placeholder: "adress"
      %>

        <%= f.input :description %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, class: "btn btn-purple"%>
      <% end %>
    </div>

  </div>
</div>
