<!-- <h1>Instruments#index</h1>
<p>Find me in app/views/instruments/index.html.erb</p>
 -->

<div class="container">
  <div class="form-inline">
    <h1>Search in instruments</h1>
    <%= form_tag instruments_path, method: :get do %>
    <%= text_field_tag :query,
       params[:query],
       class:"form-control",
        placeholder: "find an instrument"
    %>
      <%= button_tag class: "form-control" do %>
        <%= icon('fa', 'search') %>
      <% end %>
    <% end %>
  </div>

  <div class="container">
    <% @instruments.each do |instrument|  %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= instrument.photo %>);">
          <div class="card-description">
            <h2><%= instrument.title %></h2>
            <p><%= instrument.marque %></p>
            <%= link_to "See ", instrument_path(instrument) %>
          </div>
      </div>
    <% end %>
  </div>
  <!-- insert <div class="card"> -->
</div>
