<!-- <h1>Instruments#index</h1>
<p>Find me in app/views/instruments/index.html.erb</p>
 -->
<div id="banner" class="banner-instrument" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.7) 50%), url('<%= image_path "duotone.png" %>')">

      <div class="form-wrapper cf">
      <!-- <div class="form-inline " > -->
        <%= form_tag instruments_path, method: :get, :class => "form-inline" do %>
        <%= text_field_tag :type,
           params[:type],
           class:"form-control input",
           # id: "flat_address",
            placeholder: "find your instrument"
        %>

        <%= text_field_tag :where,
           params[:where],
           class:"form-control input where",
           id: "flat_address",
            placeholder: "Where ?"
        %>

        <%= text_field_tag :when,
           params[:when],
           class:"form-control input when datepicker-home",
           # id: "flat_address",
            placeholder: "When ?"
        %>
          <%= button_tag class: "button" do %>
            <%= icon('fa', 'search') %>
          <% end %>
        <% end %>
      </div>
              <!-- <input type="text" placeholder="Search here..." required>
              <button type="submit">Search</button> -->
      <!-- </div> -->
  <div class="banner-content">

  </div>
</div>


<div class="container-back">
  <div class="container">
    <div class="row">
        <% @instruments.each do |instrument|  %>
      <div class="col-xs-6">

          <div class="card" style="background-image:url('<%= cl_image_path instrument.photo if instrument.photo.present? %>');" data-toggle="modal" data-target="#Modal-<%= instrument.id %>">
              <%#= link_to '', instrument_path(instrument), class: "card-link " %>
            <div class="card-description">

              <h2><%= instrument.title %></h2>

              <p><%= instrument.marque %></p>
              <p><%= instrument.price %>€/jour</p>
            </div>
          </div>
          <%= render 'locations/form', location: @location, instrument: instrument, id: instrument.id, class:"date-picker" %>
      </div>
        <% end %>
    </div>
  </div>
        <!-- insert <div class="card"> -->
  <div class="container-map">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>



