<!-- <h1>Instruments#index</h1>
<p>Find me in app/views/instruments/index.html.erb</p>
 -->

<div class="banner-instrument" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.7) 50%), url('<%= image_path "duotone.png" %>')">
      <div class="form-wrapper cf">
      <!-- <div class="form-inline " > -->
        <%= form_tag instruments_path, method: :get do %>
        <%= text_field_tag :query,
           params[:query],
           class:"form-control input",
           # id: "flat_address",
            placeholder: "find an instrument"
        %>
          <%= button_tag class: "form-control button" do %>
            <%= icon('fa', 'search') %>
          <% end %>
        <% end %>
      </div>
              <!-- <input type="text" placeholder="Search here..." required>
              <button type="submit">Search</button> -->
      <!-- </div> -->
  <div class="banner-content">

  </div>
</div>


<div class="container-back">
  <div class="container">
    <div class="row">
        <% @instruments.each do |instrument|  %>
      <div class="col-xs-6">
          <div class="card" style="background-image:url('<%= cl_image_path instrument.photo if instrument.photo.present? %>'); background-size: 250px; opacity:0.9;">
            <div class="card-description">
              <%= link_to instrument_path(instrument) do %>
              <h2><%= instrument.title %></h2>
              <%end  %>
              <p><%= instrument.marque %></p>
            </div>
          </div>
      </div>
        <% end %>
    </div>
  </div>
        <!-- insert <div class="card"> -->
  <div class="container-map">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>



