<!-- <h1>Instruments#index</h1>
<p>Find me in app/views/instruments/index.html.erb</p>
 -->
<div class="banner-instrument" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.7) 50%), url('<%= image_path "duotone.png" %>')">
      <div class="form-wrapper cf form-group">
      <!-- <div class="form-inline " > -->
        <%= form_tag instruments_path, method: :get, :class => "form-inline" do %>
        <%= text_field_tag :query,
           params[:query],
           class:"form-control input",
           # id: "flat_address",
            placeholder: "find an instrument"
        %>

        <%= text_field_tag :query,
           params[:query],
           class:"form-control input where",
           id: "flat_address",
            placeholder: "Where ?"
        %>

        <%= text_field_tag :query,
           params[:query],
           class:"form-control input where",
           id: "flat_address",
            placeholder: "When ?"
        %>
          <%= button_tag class: "button" do %>
            <%= icon('fa', 'search') %>
          <% end %>
        <% end %>
      </div>
              <!-- <input type="text" placeholder="Search here..." required>
              <button type="submit">Search</button> -->
      <!-- </div> -->
  <div class="banner-content">

  </div>
</div>


<div class="container-back">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <% @instruments.each do |instrument|  %>
          <div class="card-index card-description" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path instrument.photo if instrument.photo.present? %>');">
            <div class="card-description">
              <h2><%= instrument.title %></h2>
              <p><%= instrument.marque %></p>
              <%= link_to "See ", instrument_path(instrument) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
        <!-- insert <div class="card"> -->
  <div class="container-map">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>



