<div style="margin:10px" class="container">
  <div class="row">

      <!-- insert <div class="card"> -->


            <%= image_tag 'guitare_folk.jpg', :class => "card card-user card-category card-description"%>





      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
          <h1><%= @instrument.title %></h1>
          <p><%= @instrument.description %></p>
          <p><%= @instrument.marque %></p>
      </div>


    <div>
       <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <h1> Availability </h1>
        <p>To do Calendrier </p>
        <p>Réservation </p>
      </div>
    </div>
  </div>
</div>



 <%=link_to 'book', new_instrument_location_path(@instrument.id), class:"btn-medium" %>



